<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             version="3.0">
    <persistence-unit name="ejbPU">
        <jta-data-source>jdbc/PostgresDS</jta-data-source>
        <class>model.Pessoa</class>
        <properties>
            <property name="jakarta.persistence.schema-generation.database.action" value="create"/>
        </properties>
    </persistence-unit>
</persistence>
